.intro__section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("../img/landing-page.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h3 {
    margin: 5rem;
    align-self: center;
  }

  & h2,
  h3,
  button {
    opacity: 0;
    animation: showContent 0.5s ease-in-out 0.7s forwards;
  }
}

@keyframes showContent {
  0% {
    margin: 2rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
